version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=development
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules # מונע דריסה של תיקיית הספריות המקומית

  python-renderer:
    build:
      context: ./python-renderer
    ports:
      - "5000:5000"
    volumes:
      - ./python-renderer:/app

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
